body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0db4f;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: #323330;
}

.logo {
  margin: 20px;
  border: 1px solid #323330;
}

table th, table td {
  text-align: left;
}
